/* Products.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.products-page {
    font-family: Arial, sans-serif;
  }
  
  .breadcrumb-container {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .breadcrumb-container h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .breadcrumb {
    margin-top: 10px;
  }
  
  .breadcrumb a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .breadcrumb span {
    color: white;
    margin: 0 5px;
  }
  
  .products-content {
    display: flex;
    padding: 20px;
  }
  
  .sidebar {
    width: 20%;
    margin-right: 20px;
  }
  
  .sidebar h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .category-list,
  .color-filter-list {
    list-style-type: none;
    padding: 0;
  }
  
  .category-list li,
  .color-filter-list li {
    margin: 10px 0;
  }
  
  .category-list li a,
  .color-filter-list li label {
    text-decoration: none;
    color: #333;
  }
  
  .category-list li a:hover,
  .color-filter-list li label:hover {
    text-decoration: underline;
  }
  
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
  }
  
  .product-item {
    width: 30%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: white;
    text-align: center;
  }
  
  .product-item:hover {
    transform: scale(1.05);
  }
  
  .product-item img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-info h3 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .product-price {
    font-size: 1em;
    color: #333;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
  }
  
  .rating {
    color: #ffa500;
  }
  